<form class="beatsMenu">
	<div class="display"> 
		{{ localize "CofD.GroupBeatsMenu.currentBeats" }} {{currentBeats}}
	</div>
	<div class="players"> 
		{{#if activePlayers.length}}
			{{#each activePlayers as |player key|}}
				<div class="player">
					<div class="playerImage">
						<img src="{{player.img}}"/>
					</div>
					<div class="playerName">
						{{player.name}}
					</div>
				</div>
			{{/each}}
		{{else}}
			<div class="noPlayers">
				{{ localize "CofD.GroupBeatsMenu.noPlayersSet" }}
			</div>
		{{/if}}
	</div>
	<div class="footer">
		<button id="addBeats" class="addBeats" type="button">{{ localize "CofD.GroupBeatsMenu.addBeats" }}</button>
		<button id="distributeBeats" class="distributeBeats" type="button">{{ localize "CofD.GroupBeatsMenu.distributeBeats" }}</button>
		<button id="dropBeats" class="dropBeats" type="button">{{ localize "CofD.GroupBeatsMenu.dropBeats" }}</button>
		<button id="dropActors" class="dropActors" type="button">{{ localize "CofD.GroupBeatsMenu.dropActors" }}</button>
	</div>
</form>
